@page "/orgprofile"
@using frontend.Clients
@using frontend.Components.index
@using frontend.Models
@inject UserClient UserClient
@inject NavigationManager NavigationManager
@inject IToastService toastService
@rendermode InteractiveServer

<PageTitle>Organizer Profile</PageTitle>

<div class="container mt-5">
    <p class="fw-bold text-center" style="font-size: 32px; color: #a91215;">ORGANIZER PROFILE</p>
    <div class="d-flex" style="justify-content: space-between;">
        @if (user is null)
        {
            <p class="col-md-2 fw-semibold" style="color: #a91215;">Loading...</p>
        }
        else
        {

            <p class="fw-bold" style="font-size: 32px; color: #a91215;">Hey, @user.FirstName</p>
        }
        <a class="btn fw-bold loginBtn" href="/logout"
            @onclick="@(()=>toastService.ShowInfo("Logged out successfully!"))"
            style="width: 144px; height: 40px; position: relative; z-index: 2; margin-bottom: 10px; background-color: #a91215; color: white;">Logout</a>
    </div>
    <p class="fw-bold" style="font-size: 24px; color: #a91215;">Profile details</p>
    @if (user is null)
    {
        <p class="col-md-2 fw-semibold" style="color: #a91215;">Loading...</p>
    }
    else
    {
        <div class="row">
            <p class="col-md-2 fw-semibold" style="color: #a91215;">First Name</p>
            <p class="col fw-semibold" style="color: #0000008d;">@user.FirstName</p>
        </div>
        <div class="row" style="margin-top: -10px;">
            <p class="col-md-2 fw-semibold" style="color: #a91215;">Last Name</p>
            <p class="col fw-semibold" style="color: #0000008d;">@user.LastName</p>
        </div>
        <div class="row" style="margin-top: -10px;">
            <p class="col-md-2 fw-semibold" style="color: #a91215;">NIC</p>
            <p class="col fw-semibold" style="color: #0000008d;">@user.Nic</p>
        </div>
        <div class="row" style="margin-top: -10px;">
            <p class="col-md-2 fw-semibold" style="color: #a91215;">Contact number</p>
            <p class="col fw-semibold" style="color: #0000008d;">@user.PhoneNumber</p>
        </div>
        <div class="row" style="margin-top: -10px;">
            <p class="col-md-2 fw-semibold" style="color: #a91215;">Email</p>
            <p class="col fw-semibold" style="color: #0000008d;">@user.Email</p>
        </div>
    }


    <div class="d-flex mt-5" style="justify-content: space-between;">
        <p class="fw-bold " style="font-size: 24px; color: #a91215;">Your events</p>
        <a class="btn fw-bold loginBtn" href="/addevent"
            style="width: 144px; height: 40px; position: relative; z-index: 2; margin-bottom: 10px; background-color: #a91215; color: white; ">Add
            Event</a>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-5 justify-content-center" style="margin-top: 75px;">
        @if (YourEvents.Length != 0)
        {

            @foreach (var yourEvent in YourEvents)
            {

                <div class="col">
                    <OrgEventCard Verified=yourEvent.IsEventVerified EventName="@yourEvent.EventName"
                        Date="@yourEvent.EventDate" Time="@yourEvent.EventTime" Location="@yourEvent.EventLocation"
                        CardImgUrl="@yourEvent.EventCardImageUrl" />
                </div>
            }
        }
        else
        {
            <p style="font-size: 20px; color: #a91215; font-family: 'Poppins'; text-align: center; margin-bottom: 100px; margin-top: -25px;">
                No any event published.
            </p>
        }
    </div>
</div>

<img src="Assets/Logo_background_t.png" style="position: absolute; right: 0; top:0; z-index: 0;" width="490" alt="">

@code {
    private Event[] YourEvents =
    [
    new(){
EventName = "Rope Jumping",
EventDate = "14, September 2024",
EventDescription = "Come, have fun, and make unforgettable memories with your family, friends, and loved ones!",
EventId = 1,
EventLocation="Lakshapana Waterfalls",
EventTicketPrice="15,000 LKR",
EventTime = "9.00 AM onwards",
EventCategory="special",
EventCardImageUrl="Assets/flyer2.png",
IsEventVerified = true
},
new(){
EventName = "Saturday Night",
EventDate = "20, September 2024",
EventDescription = "Come, have fun, and make unforgettable memories with your family, friends, and loved ones!",
EventId = 2,
EventLocation="Cinomaon Lakeside Colombo",
EventTicketPrice="8,000 LKR",
EventTime = "7.00 PM onwards",
EventCategory="music",
EventCardImageUrl="Assets/flyer1.jpg",
IsEventVerified = false
},
];
    private User? user;
    private bool IsLogged = false;
    protected override async Task OnInitializedAsync()
    {
        IsLogged = await UserClient.IsUserLogged();
        if (!IsLogged)
        {
            toastService.ShowError("Unauthorized access. Please log in again.");
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            user = await UserClient.GetUserInfo();
        }
    }
}
