@page "/orgprofile"
@using frontend.Clients

@using frontend.Models
@inject UserClient UserClient
@inject OrganizerClient OrganizerClient
@inject NavigationManager NavigationManager
@inject IToastService toastService
@rendermode InteractiveServer

<PageTitle>Organizer Profile</PageTitle>

<div class="container mt-5">
    <p class="fw-bold text-center" style="font-size: 32px; color: #a91215;">ORGANIZER PROFILE</p>
    <div class="d-flex" style="justify-content: space-between;">
        @if (user is null)
        {
            <p class="col-md-2 fw-semibold" style="color: #a91215;">Loading...</p>
        }
        else
        {

            <p class="fw-bold" style="font-size: 32px; color: #a91215;">Hey, @user.FirstName</p>
        }
        <a class="btn fw-bold loginBtn" href="/logout"
            @onclick="@(()=>toastService.ShowInfo("Logged out successfully!"))"
            style="width: 144px; height: 40px; position: relative; z-index: 2; margin-bottom: 10px; background-color: #a91215; color: white;">Logout</a>
    </div>
    <p class="fw-bold" style="font-size: 24px; color: #a91215;">Profile details</p>
    @if (user is null)
    {
        <p class="col-md-2 fw-semibold" style="color: #a91215;">Loading...</p>
    }
    else
    {
        @* <div class="row">
            <p class="col-md-2 fw-semibold" style="color: #a91215;">User ID</p>
            <p class="col fw-semibold" style="color: #0000008d;">@user.Id</p>
        </div> *@
        <div class="row">
            <p class="col-md-2 fw-semibold" style="color: #a91215;">First Name</p>
            <p class="col fw-semibold" style="color: #0000008d;">@user.FirstName</p>
        </div>
        <div class="row" style="margin-top: -10px;">
            <p class="col-md-2 fw-semibold" style="color: #a91215;">Last Name</p>
            <p class="col fw-semibold" style="color: #0000008d;">@user.LastName</p>
        </div>
        <div class="row" style="margin-top: -10px;">
            <p class="col-md-2 fw-semibold" style="color: #a91215;">NIC</p>
            <p class="col fw-semibold" style="color: #0000008d;">@user.Nic</p>
        </div>
        <div class="row" style="margin-top: -10px;">
            <p class="col-md-2 fw-semibold" style="color: #a91215;">Contact number</p>
            <p class="col fw-semibold" style="color: #0000008d;">@user.PhoneNumber</p>
        </div>
        <div class="row" style="margin-top: -10px;">
            <p class="col-md-2 fw-semibold" style="color: #a91215;">Email</p>
            <p class="col fw-semibold" style="color: #0000008d;">@user.Email</p>
        </div>
    }


    <div class="d-flex mt-5" style="justify-content: space-between;">
        <p class="fw-bold " style="font-size: 24px; color: #a91215;">Your events</p>
        
        <button class="btn fw-bold loginBtn" disabled="@(!IsContentLoaded)" @onclick = "@(()=>NavigationManager.NavigateTo($"/addevent/{user?.Id}"))"
            style="width: 144px; height: 40px; position: relative; z-index: 2; margin-bottom: 10px; background-color: #a91215; color: white; ">Add
            Event</button>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-5 justify-content-center" style="margin-top: 75px;">
        @if (YourEvents is not null)
        {

            @foreach (var yourEvent in YourEvents)
            {

                <div class="col">
                    <OrgEventCard Verified=yourEvent.IsVerifiedEvent EventName="@yourEvent.EventName"
                        Date="@yourEvent.EventDate" Time="@yourEvent.EventTime"
                        Location="@yourEvent.EventLocation" CardImgUrl="@yourEvent.EventImage" />
                </div>
            }
        }
        else
        {
            <p
                style="font-size: 20px; color: #a91215; font-family: 'Poppins'; text-align: center; margin-bottom: 100px; margin-top: -25px;">
                No any event published.
            </p>
        }
        @* <div class="col">
            <OrgEventCard Verified=false EventName="Kataka" CardImgUrl="Assets/kataka.png" Date="2024-10-08" Location="BMICH Colombo" Time="6.30 PM"/>
        </div>
        <div class="col">
            <OrgEventCard Verified=false EventName="Kuweni" CardImgUrl="Assets/Kuweni.jpeg" Date="2024-11-20" Location="Nelum Pokuna Indoor" Time="7.30 PM"/>  
        </div> *@
    </div>
</div>

<img src="Assets/Logo_background_t.png" style="position: absolute; right: 0; top:0; z-index: 0;" width="490" alt="">

@code {
    private EventResponce[]? YourEvents;
    private User? user;
    private bool IsLogged = false;
    private bool IsContentLoaded;
    protected override async Task OnInitializedAsync()
    {
        IsContentLoaded = false;
        IsLogged = await UserClient.IsUserLogged();
        if (!IsLogged)
        {
            toastService.ShowError("Unauthorized access. Please log in again.");
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            try
            {
                user = await OrganizerClient.GetOrganizerInfo();
                IsContentLoaded = true;
            }
            catch (Exception)
            {
                toastService.ShowError("Somthing went wrong. Please try again.");
                NavigationManager.NavigateTo("/");
            }
        }
    }

}
