@page "/checkout/{eventid}"
@using frontend.Clients
@using frontend.Models
@inject UserClient UserClient
@inject EventClient EventClient
@inject NavigationManager NavigationManager
@inject IToastService toastService
@inject CheckoutClient CheckoutClient

@rendermode InteractiveServer

<PageTitle>Checkout</PageTitle>

<style>
    .form-check-input:checked {
        background-color: #a91215 !important;
        border-color: #a91215 !important;
    }

    .ticketsBtn {
        transition: 0.3s ease;
    }

    .ticketsBtn:hover {
        background-color: #cb1518 !important;
    }
</style>
@if (user is null || CurrentEvent is null)
{
    <p
        style="font-size: 20px; color: #a91215; font-family: 'Poppins'; text-align: center; margin-bottom: 100px; margin-top: -25px;">
        No any tickets available.
    </p>
}
else
{
    <div class="container" style="margin-top: 100px; margin-bottom: 100px;">
        <div class="row">
            <div class="col">
                <p class="fw-bold" style="font-size: 32px; color: #a91215;">Bank Details</p>
                <div style="background-color: black; width: 80%; height: 2px;"></div>
                <div style="width: 80%;">

                    <form class="mt-3" style="width: 100%;">
                        <div class="mb-3 d-flex" style="gap: 8px; justify-content: space-between;">
                            <div>
                                <label for="fname" class="form-label fw-semibold">First Name</label>
                                <input type="text" value="@user.User.FirstName" class="form-control"
                                    style="height: 42px !important;" id="fname" placeholder="Your first name">
                            </div>
                            <div>
                                <label for="lname" class="form-label fw-semibold">Last Name</label>
                                <input type="text" value="@user.User.LastName" class="form-control"
                                    style="height: 42px !important;" id="lname" placeholder="Your last name">
                            </div>
                        </div>
                        <div class="mb-3">
                            <div>
                                <label for="cardno" class="form-label fw-semibold">Event Name</label>
                                <input type="text" class="form-control" style="height: 42px !important;" id="cardno"
                                    disabled value="@CurrentEvent.EventName">
                            </div>

                        </div>
                        <div class="mb-3 d-flex" style="gap: 8px; justify-content: space-between;">
                            <div>
                                <label for="exdate" class="form-label fw-semibold">Event Date</label>
                                <input type="text" class="form-control" style="height: 42px !important;" id="exdate"
                                    disabled value="@CurrentEvent.EventDate">
                            </div>
                            <div>
                                <label for="cvv" class="form-label fw-semibold">Event Time</label>
                                <input type="text" class="form-control" style="height: 42px !important;" id="cvv" disabled
                                    value="@CurrentEvent.EventTime">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label fw-semibold">Email</label>
                            <input type="email" value="@user.User.Email" class="form-control"
                                style="height: 42px !important;" id="email" placeholder="Enter your email">
                        </div>

                        @if (IsConditionsAccepted)
                        {
                            <div class="mt-5 d-flex" style="gap: 5px;">
                                <button class="btn fw-bold loginBtn" @onclick="@(()=>ProceedCheckout())"
                                    style="width: 100%; margin-bottom: 10px; background-color: #a91215; color: white;">Proceed</button>
                                <img src="Assets/Logo_half_transparent.png" style="height: 38px; margin-bottom: 10px;" alt="" />
                            </div>
                        }
                        else
                        {
                            <div class="mt-5 d-flex" style="gap: 5px;">
                                <a class="btn"
                                    style="cursor: default; width: 100%; margin-bottom: 10px; background-color: #7e0d0e; color: white;">Pleace
                                    check the Tearms and condition</a>
                            </div>
                        }


                    </form>
                </div>
            </div>
            <div class="col">
                <p class="fw-bold" style="font-size: 32px; color: #a91215;">Booking Details</p>
                <div style="background-color: black; width: 100%; height: 2px;"></div>
                <div class="mt-3" style="width: 100%;">
                    <p class="fw-semibold">Tickets count</p>
                    <div class="d-flex" style="justify-content: space-between; margin-top: -10px;">
                        <div class="d-flex my-auto" style="gap: 20px; align-items: center;">
                            <button class="btn fw-bold ticketsBtn" style="background-color: #a91215; color: white;"
                                @onclick="@(()=>DecrementTickets())">-</button>
                            <p class="fw-semibold mt-3">@TicketCount</p>
                            <button class="btn fw-bold ticketsBtn" style="background-color: #a91215; color: white;"
                                @onclick="@(()=>IncremetTickets())">+</button>
                        </div>
                        <p>@TotalTicketPrice LKR</p>
                    </div>
                    <div class="mt-3" style="background-color: black; width: 100%; height: 2px;"></div>
                    <div class="d-flex" style="justify-content: space-between;">
                        <p class="fw-semibold">Total</p>
                        <p>@TotalTicketPrice LKR</p>
                    </div>
                    <div class="d-flex" style="justify-content: space-between; margin-top: -10px;">
                        <p class="fw-semibold">Taxes</p>
                        <p>1000 LKR</p>
                    </div>
                    <div class="mt-5" style="background-color: black; width: 100%; height: 2px;"></div>
                    <div class="d-flex mt-3" style="justify-content: space-between; ">
                        <p class="fw-semibold" style="color: #a91215; font-size: 24px;">Sub Total</p>
                        <p class="fw-semibold" style="color: #a91215; font-size: 24px;">@(TotalTicketPrice + 1000) LKR</p>
                    </div>

                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked
                        @onchange="@(()=>ChangeConditionsAccepted())">
                    <label class="form-check-label" for="flexCheckChecked">
                        I accept and agree to Terms and Conditions
                    </label>
                </div>
                <p class="fw-semibold mt-3">In order to proceed, you should agree to T & C by clicking the above box</p>
                <img class="mt-3" src="Assets/payment.png" width="260" alt="">
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string? EventId { get; set; }
    private bool IsLogged = false;
    private int TicketCount;
    private int TicketPrice;
    private int TotalTicketPrice;
    private bool IsConditionsAccepted = true;
    private UserResponce? user;
    private EventResponce? CurrentEvent;
    private CheckoutRequest? CheckoutRequest;

    protected override async Task OnInitializedAsync()
    {
        IsLogged = await UserClient.IsUserLogged();
        if (!IsLogged || EventId is null)
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            user = await UserClient.GetUserInfo();
            CurrentEvent = await EventClient.GetEventInfo(int.Parse(EventId));
            TicketCount = 1;
            TicketPrice = 1000;
            TotalTicketPrice = TicketPrice;
        }
    }

    private void ChangeConditionsAccepted()
    {
        IsConditionsAccepted = !IsConditionsAccepted;
    }
    private void IncremetTickets()
    {
        TicketCount++;
        TotalTicketPrice = TicketPrice * TicketCount;
    }
    private void DecrementTickets()
    {
        if (TicketCount == 1)
        {
            toastService.ShowError("There should be at least one ticket.");
        }
        else
        {
            TicketCount--;
            TotalTicketPrice = TicketPrice * TicketCount;
        }
    }

    private void ProceedCheckout()
    {
        CheckoutRequest = new CheckoutRequest
            {
                TiketId = 1,
                EventId = CurrentEvent!.EventId,
                UserID = $"{user!.User!.Id}",
                EventName = $"{CurrentEvent.EventName}",
                Description = $"{CurrentEvent.EventDescription}",
                TicketPrice = 1000,
                Quantity = TicketCount
            };
    }
}
