@page "/"
@using frontend.Clients
@using frontend.Components.index
@using frontend.Models
@inject NavigationManager NavigationManager
@inject UserClient UserClient
@inject IToastService toastService
@inject EventClient EventClient

@rendermode InteractiveServer


<PageTitle>CeylonEvents</PageTitle>
<style>
    .radio-inputs {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        border-radius: 0.5rem;
        background-color: #a91215;
        box-sizing: border-box;
        box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
        padding: 0.25rem;
        width: 100%;
        font-size: 14px;
    }

    .radio-inputs .radio {
        flex: 1 1 auto;
        text-align: center;
    }

    .radio-inputs .radio input {
        display: none;
    }

    .radio-inputs .radio .name {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-radius: 0.3rem;
        border: none;
        padding: .5rem 0;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 16px;
        transition: all .15s ease-in-out;
    }

    .radio-inputs .radio input:checked+.name {
        background-color: #fff;
        color: #a91215;
        font-weight: 600;
    }

    .seeAllBtn {
        transition: 0.3s ease;
    }

    .seeAllBtn:hover {
        box-shadow: 0px 0px 0px 0px !important;
        background-color: #b61316 !important;
    }
</style>

<section>
    <div class="container mt-5">
        <div>
            <div class="d-flex" style="margin-bottom: -20px; justify-content: space-between;">
                <div class="d-flex">
                    <p style="font-size: 40px; font-weight: 700; color: #a91215; font-family: 'Poppins';">
                        Latest&nbsp;
                    </p>
                    <p style="font-size: 40px;  color: #aaaaaa; font-family: 'Poppins';">Events</p>
                </div>
                <div class="d-flex" style="align-items: end;">
                    <p style="font-size: 20px;  color: #aaaaaa; font-family: 'Poppins';">happening this month
                    </p>
                </div>
            </div>

            <div style="width: 178px; height: 5px; background-color: #a91215"></div>

        </div>

        <div class="row row-cols-1 row-cols-md-2 g-5 justify-content-center" style="margin-top: 150px;">
            @if (CurrentEvents is null)
            {
                <p
                    style="font-size: 20px; color: #a91215; font-family: 'Poppins'; text-align: center; margin-bottom: 200px;">
                    Sorry! No any event found.
                </p>
            }
            else
            {
                @foreach (var currentEvent in CurrentEvents)
                {
                    <div class="col">
                        <EventCard EventName="@currentEvent.EventName" Date="@currentEvent.EventDate"
                            Time="@currentEvent.EventTime" Location="@currentEvent.EventLocation"
                            CardImgUrl="@currentEvent.EventImage" EventId="@currentEvent.EventId"/>
                    </div>
                }
            }

        </div>
        <center>
            <a href="#" class="btn seeAllBtn mb-5"
                style="background-color: #a91215; font-weight: 500; color: #ffffff; box-shadow: 0px 1px 5px 0px #5e5e5e;">See
                all
                events</a>
        </center>
    </div>
</section>
<div style="width: 100%; height: 5px; background-color: #a91215"></div>
<section id="cat" class="mb-5 py-5">
    <div class="container">

        <div class="mt-5 mb-5 mx-auto" style="width: 100%;">
            <div class="radio-inputs">
                <label class="radio">
                    <input type="radio" name="radio" checked=""
                        @onchange="@(()=>ChangeSelectedCategory("Conference", "Special"))">
                    <span class="name">Special Events</span>
                </label>
                <label class="radio">
                    <input type="radio" name="radio" @onchange="@(()=>ChangeSelectedCategory("Concert", "Musical"))">
                    <span class="name">Musical Events</span>
                </label>

                <label class="radio">
                    <input type="radio" name="radio" @onchange="@(()=>ChangeSelectedCategory("WorkShop", "Educational"))">
                    <span class="name">Educational Events</span>
                </label>
                <label class="radio">
                    <input type="radio" name="radio" @onchange="@(()=>ChangeSelectedCategory("sports", "Sports"))">
                    <span class="name">Sports Events</span>
                </label>
                <label class="radio">
                    <input type="radio" name="radio" @onchange="@(()=>ChangeSelectedCategory("other", "Other"))">
                    <span class="name">Other Events</span>
                </label>
            </div>
        </div>
        <div>
            <div class="d-flex" style="margin-bottom: -20px; justify-content: space-between;">
                <div class="d-flex">
                    <p style="font-size: 40px; font-weight: 700; color: #a91215; font-family: 'Poppins';">
                        @CategoryTittle
                    </p>
                    <p style="font-size: 40px; color: #aaaaaa; font-family: 'Poppins';">&nbsp;Events</p>
                </div>
                <div class="d-flex" style="align-items: end;">
                    <p style="font-size: 20px; color: #aaaaaa; font-family: 'Poppins';">happening this month</p>
                </div>
            </div>
            <div style="width: 178px; height: 5px; background-color: #a91215"></div>
            <div class="row row-cols-1 row-cols-md-2 g-5 justify-content-center" style="margin-top: 100px;">
                @if (CurrentEvents is null)
                {
                    <p
                        style="font-size: 20px; color: #a91215; font-family: 'Poppins'; text-align: center; margin-bottom: 100px;">
                        Sorry! No any event found.
                    </p>
                }
                else
                {
                    EventFounded = false;
                    @foreach (var currentEvent in CurrentEvents)
                    {
                        @if (CurrentEventCategory == currentEvent.EventCategory)
                        {
                            EventFounded = true;
                            <div class="col">
                                <EventCard EventName="@currentEvent.EventName" Date="@currentEvent.EventDate"
                                    Time="@currentEvent.EventTime" Location="@currentEvent.EventLocation"
                                    CardImgUrl="@currentEvent.EventImage" EventId="@currentEvent.EventId" />
                            </div>
                        }
                    }
                    @if (!EventFounded)
                    {
                        <p
                            style="font-size: 20px; color: #a91215; font-family: 'Poppins'; text-align: center; margin-bottom: 100px;">
                            Sorry! No any event found in this category.
                        </p>
                    }
                }
            </div>
        </div>
        <center>
            <a href="#" class="btn seeAllBtn"
                style="background-color: #a91215; font-weight: 500; color: #ffffff; box-shadow: 0px 1px 5px 0px #5e5e5e;">See
                all
                events</a>
        </center>
    </div>
</section>
<div style="width: 100%; height: 5px; background-color: #a91215"></div>

<section class="py-5" id="contact">
    <ContactSection />
</section>

<div style="width: 100%; height: 5px; background-color: #a91215"></div>
<section class="py-5">
    <div class="py-5">
        <video autoplay loop muted style="width: 100%; ">
            <source src="Assets/clip5.mp4" type="video/mp4">
        </video>
    </div>
</section>
<div style="width: 100%; height: 5px; background-color: #a91215"></div>
<section class="py-5" id="about">
    <AboutSection />
</section>

@code {
    private string CurrentEventCategory = "special";
    private bool EventFounded;
    private string CategoryTittle = "Special";

    private List<EventResponce>? CurrentEvents;

    protected override async Task OnInitializedAsync()
    {

        try
        {
            CurrentEvents = await EventClient.GetAllEvents();
        }
        catch (Exception)
        {
            toastService.ShowError("Somthing went wrong. Please try again.");

        }

    }
    private void HandleCardClick()
    {
        Console.WriteLine("EventCard clicked");
        NavigationManager.NavigateTo("/event");
    }

    private void ChangeSelectedCategory(string category, string categoryTitle)
    {
        CurrentEventCategory = category;
        CategoryTittle = categoryTitle;
    }

}
